/* Reset some default margin and padding */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav li {
    margin: 0 15px;
}

header nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

#hero {
    background-color: #f8a632;
    color: #333;
    text-align: center;
    background-image: url(url('file:///Users/pro/Desktop/gorilla/gorilla-gym/pics/hero_background1.jpg');
}

#hero .cta-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

#hero .cta-button:hover {
    background-color: #555;
}

#about {
    background-color: #eee;
    background-image: url(Image from file:///Users/pro/Desktop/gorilla/gorilla-gym/pics/about_background2.jpg);
}

#services {
    background-color: #f0f0f0;
    background-image: url('pics/services_background3.jpg');
}

#services ul {
    list-style: none;
    padding: 0;
}

#services ul li {
    margin-bottom: 10px;
}

#contact {
    background-color: #f8a632;
    text-align: center;
    background-image: url('pics/contact_background1.jpg');
}

#contact .cta-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

#contact .cta-button:hover {
    background-color: #555;
}

#booking {
    background-color: #c3e6af;
    text-align: center;
    background-image: url('pics/booking_background2.jpg');
}

#booking .cta-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}

#booking .cta-button:hover {
    background-color: #555;
}

#pricing {
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
    background-image: url('pics/pricing_background2.jpg');
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

